<p>
FOUR STEPS TO PLAY <br/>
1. Purchase the ticket on ticketing screen  <br/>
2.Change the ticket if u don’t like it and freeze the ticket  <br/>
3. See the Numbers on Game screen  <br/>
4. Let us know when you finish and event (when u have won any row or full ) <br/>
<br/> <br/> 
Rules  <br/>
a) Choose only one ticket per game and make sure gave your correct name while choosing user name  <br/>
b) Once ticket freezes you can’t change the ticket  <br/>
c)Always observe the game screen -don’t miss any number (selected number will turn green ) <br/>
d) let us know as soon as you finish your row or full by sending in what’s app group  <br/> 
<br/> <br/>
Note : To keep it easy take a paper and note down all the ticket numbers
</p>
